<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothie Arkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Smoothie Arkisto</h1>
        <p><a href="/smoothiet">Tarkastele smoothieita.</a></p>
        <p><a href="/raakaAineet">Tarkastele raaka-aineita.</a></p>
        <p><a href="/luo">Muokkaa smoothieita.</a></p>
    </body>
</html>